on:
  push:
    branches:
      - main
jobs:
  build-deploy:
    runs-on: ubuntu-latest
    env:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      TF_API_KEY: ${{ secrets.TF_API_KEY }}
      TF_ORGANIZATION: subhasis020299
      TF_API_URL: https://app.terraform.io/api/v2
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v3
      - uses: aws-actions/setup-sam@v2
      - uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ env.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ env.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-south-1
      # sam build
      - run: sam build --use-container
      # sam deploy
      - run: sam deploy --no-confirm-changeset --no-fail-on-empty-changeset --parameter-overrides "Org=${{env.TF_ORGANIZATION}},ApiUrl=${{env.TF_API_URL}},ApiKey=${{env.TF_API_KEY}}"
